@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.3;
  }

  body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;

  }

  .inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .background-blue {
    background-color:#E6F2FE;
  }
  .text-blue {
    color:#2B2B4F;
  }
  .button-blue {
    background-color:#246BE8;
    color: #ffffff;
  }
  .icon-blue {
    color:#246BE8;
  }
  .contact input:focus,  .contact textarea:focus  {
    border:solid 1px#246BE8;
  }

  .box-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,.2);
  }
